body {
  background-color: #FFFFFF;
  margin: 0;
}
#banner {
  background-color: #79B9EF;
  color: #FFFFFF;
  font-family: Segoe UI light, sans-serif;
  font-size: 50px;
  padding: 10px 25px;
  text-align: left;
  margin: 0;
}
#issue {
  color: #808080;
  font-family: Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
}
.content {
  margin: 0;
  padding: 10px;
}
